.zoom {
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

body {
    font-family: sans-serif;
    display: block;
}

/* Barre de navigation */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(131, 170, 244);
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    box-shadow: 0px 6px 10px rgb(170, 170, 170);
}

nav > p {
    color: white;
    font-family: sans-serif;
    margin: 10px;
}

.liens {
    position: absolute;   /* to perfectly center it */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.liens div {
    padding: 5px;
}


nav > .liens div > a:visited, nav > .liens div > a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    justify-self: center;
}

.liens div:hover {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    transform: size(1.1);
}

.liens div:hover > a {
    color: rgb(131, 170, 244) !important;
}
.social {
    gap: 20px;
    margin-right: 70px;
    display: flex;
    width: 30px;
    height: 30px;
}

/* Page principale */

h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(131, 170, 244);
    margin-bottom: 10px;
}

main > p {
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.projets_c {
    height: 100%;
    margin: 10px;
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 6px 10px rgb(170, 170, 170);
    border-radius: 20px;
}

.projets_c > h2 {
    margin: 0;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 40px; 
}

.projets_c > p {
    margin: 0;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 10px;
}

.projets_c button:hover {
    transform: scale(1.02);
    background-color: rgb(131, 170, 244);
    border: 2px rgb(114, 149, 213) solid;
    color: white;
}

.projet_1 {
    display: flex;
    margin: 20px;
    background-color: rgb(131, 170, 244);
    border-radius: 20px 20px 20px 20px;
    border: 2px rgb(114, 149, 213) solid;
    transition: all 0.3s ease;
}

.projet_1:hover {
    transform: scale(1.02);
}

.projet_1 > .text {
    padding-left: 20px;
}

.projet_1 h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 25px;
}

.projet_1 p {
    font-size: 20px;
}

.projet_1 > img {
    border-radius: 0px 20px 20px 0px;
}

.projet_1 button {
    margin-left: 30px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(131, 170, 244);
    background-color: white;
    border: 2px rgb(205, 205, 205) solid;
    border-radius: 10px;
}

.projet_2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    background-color: rgb(131, 170, 244);
    border-radius: 20px 20px 20px 20px;
    border: 2px rgb(114, 149, 213) solid;
    transition: all 0.3s ease;
}

.projet_2:hover {
    transform: scale(1.02);
}

.projet_2 > .text {
    margin-right: 20px;
    padding: 10px;
    text-align: right;
}

.projet_2 h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 25px;
}

.projet_2 p {
    font-size: 20px;
}

.projet_2 > img {
    border-radius: 20px 0px 0px 20px;
}

.projet_2 button {
    margin-right: 30px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(131, 170, 244);
    background-color: white;
    border: 2px rgb(205, 205, 205) solid;
    border-radius: 10px;
}

.projet_3 {
    display: flex;
    margin: 20px;
    background-color: rgb(131, 170, 244);
    border-radius: 20px 20px 20px 20px;
    border: 2px rgb(114, 149, 213) solid;
    transition: all 0.3s ease;
}

.projet_3:hover {
    transform: scale(1.02);
}

.projet_3 > .text {
    padding-left: 20px;
}

.projet_3 h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 25px;
}

.projet_3 p {
    font-size: 20px;
}

.projet_3 > img {
    border-radius: 0px 20px 20px 0px;
}

.projet_3 button {
    margin-left: 30px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(131, 170, 244);
    background-color: white;
    border: 2px rgb(205, 205, 205) solid;
    border-radius: 10px;
}

.zoom {
 transition: transform 0.2s;
}

/* Responsive */

@media (max-width: 1024px) {

    .projet_1,
    .projet_2,
    .projet_3 {
        flex-direction: column; /* Empile l'image et le texte verticalement */
        align-items: center;    /* Centre les éléments */
        height: auto;           /* Hauteur automatique */
    }

    .projet_1 > img,
    .projet_2 > img,
    .projet_3 > img {
        width: 100%; /* L'image prend toute la largeur du bloc */
        height: auto;
        border-radius: 0px 0px 20px 20px;
        margin-bottom : -20px
    }

    .projet_1 > .text,
    .projet_2 > .text,
    .projet_3 > .text {
        width: 90%;
        padding: 20px;
        box-sizing: border-box; /* S'assure que le padding ne casse pas la largeur */
    }

    .projet_2 > .text {
        text-align: left;
    }

    .projet_1 button,
    .projet_2 button,
    .projet_3 button {
        width: 90%; /* Le bouton prend 90% de la largeur */
        margin: 10px auto; /* Centre le bouton */
        display: block;
    }
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        height: auto;
        padding: 15px;
    }

    nav > p {
        text-align: center;
    }

    .liens {
        position: static;
        transform: none;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
        width: 100%;
        align-items: center;
    }

    .social {
        margin: 15px 0 0 0;
        justify-content: center;
        width: auto;
    }

    h1 {
        font-size: 32px;
    }
    
    main > p {
        font-size: 16px;
        padding: 0 15px; /* Ajoute de l'espace sur les côtés */
    }

    .projets_c > h2 {
        font-size: 28px;
        text-align: center;
    }
    
    .projets_c > p {
        font-size: 16px;
        padding: 0 15px 10px 15px;
        text-align: center;
    }

    .projet_1 > .text,
    .projet_2 > .text,
    .projet_3 > .text {
        text-align: center;
    }

    .projet_1 h3,
    .projet_2 h3,
    .projet_3 h3 {
        font-size: 22px;
    }

    .projet_1 p,
    .projet_2 p,
    .projet_3 p {
        font-size: 16px;
    }

    .projet_1 button,
    .projet_2 button,
    .projet_3 button {
        font-size: 15px;
    }
}
