 nav {
    gap : 30px;
    width: 100;
    height: 50px;
    background-color: salmon;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.presentation {
    display: flex;
    margin-left: 400px;
    margin-top: 50px;
    width: 800px;
    height: 300px;
    gap: 50px;

}

.presentation > img {
    border: 2px salmon solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}