.zoom {
    transition: all 0.3s ease-in-out;
    transform-origin: center;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

body {
    font-family: sans-serif;
    display: block;
}

/* Barre de navigation */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: salmon;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    box-shadow: 0px 6px 10px rgb(170, 170, 170);
}

nav > p {
    color: white;
    font-family: sans-serif;
    margin: 10px;
}

.liens {
    position: absolute;   /* to perfectly center it */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.liens div {
    padding: 5px;
}


nav > .liens div > a:visited, nav > .liens div > a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    justify-self: center;
}

.liens div:hover {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    transform: size(1.1);
}

.liens div:hover > a {
    color: salmon !important;
}
.social {
    gap: 20px;
    margin-right: 70px;
    display: flex;
    width: 30px;
    height: 30px;
}



/* Page principale */

.presentation {
    height: 500px;
    margin: 10px;
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 6px 10px rgb(170, 170, 170);
    border-radius: 20px;
    display: flex;
}

.presentation > img {
    border-radius: 20px 0px 0px 20px;
}

h1 {
    font-family: sans-serif;
    font-size: 50px;
    margin-left: 20px;
}

h2 {
    margin: 0;
}

.intro {
    width: 60%;
    height: 300px;
    margin: 20px;
    padding-left : 10px;
    padding-right: 10px;
    background-color: rgb(209, 209, 209);
    border-radius: 20px;
    border: 2px rgb(141, 141, 141) solid
}

.intro > h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 40px; 
}

.intro > p {
    margin-top: 5px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.me {
    display: flex;
    gap: 10px;
}

.aboutMe {
    width: 50%;
    height: 400px;
    margin: 10px;
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 6px 10px rgb(170, 170, 170);
    border-radius: 20px;
}

.aboutMe > h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 40px; 
}

.aboutMe > p {
    margin-top: 5px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.competences {
    width: 50%;
    height: 400px;
    margin: 10px;
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 6px 10px rgb(170, 170, 170);
    border-radius: 20px;
}

.competences > h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 40px; 
}

.competences > p {
    margin-top: 5px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.languages {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.lang {
    width: 100px;
    height: 200px;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgb(170, 170, 170);
}

.lang > h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 60px;
    text-align: center;
}

.lang > p {
    margin-top: 20px;
    text-align: center;
}

.html:hover {
    transform: scale(1.1);
    font-weight: 600;
    color: white;
    background-color: salmon;
}

.js:hover {
    transform: scale(1.1);
    font-weight: 600;
    color: white;
    background-color: salmon;
}

.cpp:hover {
    transform: scale(1.1);
    font-weight: 600;
    color: white;
    background-color: salmon;
}

.python:hover {
    transform: scale(1.1);
    font-weight: 600;
    color: white;
    background-color: salmon;
}

.zoom {
 transition: transform 0.2s;
}